# Venv folder
.venv

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*.ipynb
*$py.class

# Hydra
outputs/
multirun/

# MLflow
mlruns/
mlartifacts/
mlruns.db
**/basic_auth.db

# Stubs from https://github.com/microsoft/python-type-stubs
stubs/

models/
/data/
/transformers/
embeddings_cache/
notes.org
/other/
